@media screen and (min-width:1072px) {


    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2%;
        padding-inline: 15%;

    }

    .faq {
        margin-left: 176px;
        margin-right: 176px;
    }

    .navbar a {
        font-family: neue-haas-unica, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1rem;
        margin-right: 10%;
        margin-left: 10%;
        color: #ffffff;
        text-decoration: none;

    }

    .image-button img {
        /* Set the width to your desired size */
        width: auto;
        height: 75px;
        /* This maintains the aspect ratio */
    }

    #button-container {
        display: flex;
        justify-content: left;
        align-items: center;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-left: 176px
    }



    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #000000;
        color: #FFF;

    }

    .Middle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .Title {
        margin-left: 176px;
        border-right: 693px;
    }

    .Title2 {
        margin-left: 176px;
        border-right: 693px;
    }

    .Title h1 {
        color: #FFF;
        text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.50);
        font-family: SF Pro Display;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        /* 61.409px */
    }

    /* Target the .highlight class within the h1 element */
    .highlight1 {

        background-image: linear-gradient(0deg, #ffffff, #ffffff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-weight: 300;

    }

    .highlight2 {
        color: #FFF;
        font-weight: 100;

    }

    .iphone2 {
        display: none;
    }

    .Title2 h2 {
        color: #FFF;
        font-family: SF Pro Display;
        font-size: 24px;
        font-style: normal;
        font-weight: 100;
        line-height: 153.523%;
        /* 36.845px */
    }

    .Waitlist-container {
        max-width: 405px;
        margin-left: 176px;

    }

    .waitlist-form {
        display: none;
        flex-direction: column;
    }

    .waitlist-form input[type="email"] {
        padding: 15px;
        margin-bottom: 20px;
        border: 0px solid #ffffff;
        background-color: #6b6b6b87;
        border-radius: 5px;
    }

    #email::placeholder {
        color: rgb(255, 255, 255);
    }

    #email {
        color: rgb(255, 255, 255);
    }

    .waitlist-form button {
        padding: 15px;
        background-color: #ffffff;
        color: #000000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

}


@media screen and (max-width:1072px) {


    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #D7d7d7;

    }


    .Middle {
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
    }



    .image-button img {
        /* Set the width to your desired size */
        width: auto;
        height: 50px;
        /* This maintains the aspect ratio */
    }

    #button-container {
        display: flex;
        justify-content: center;
        padding-bottom: 3%;
    }


    .Title {
        display: flex;
        flex-direction: column;
    }

    .Title2 {
        display: flex;
        flex-direction: column;
    }

    .Title h1 {
        color: #000000;
        font-family: neue-haas-unica, sans-serif;
        font-size: 4rem;
        font-style: normal;
        font-weight: 600;
        text-align: center;
        margin: 0%;
    }

    .Book {
        margin-left: 0%;
        margin-top: 21%;
    }


    .iphone {
        display: none;
        order: 1;
    }



    .Title2 h2 {
        color: #848484;
        font-family: neue-haas-unica, sans-serif;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 100;
        line-height: 153.523%;
        text-align: center;

    }

    .Waitlist-container {
        display: none;
        max-width: auto;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10%;
    }

    .waitlist-form {
        display: none;
        flex-direction: column;
    }

    .waitlist-form input[type="email"] {
        padding: 15px;
        margin-bottom: 20px;
        border: 0px solid #ffffff;
        background-color: #bcbcbc87;
        border-radius: 5px;
    }

    #email::placeholder {
        color: rgb(0, 0, 0);
        font-size: 1rem;
    }

    #email {
        color: rgb(0, 0, 0);
    }

    .waitlist-form button {
        padding: 15px;
        background-color: #131313;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
    }

    .navbar {
        display: flex;
        justify-content: center;
        order: 2;
        bottom: 1%;
        position: fixed;

    }


    .navbar a {
        font-family: neue-haas-unica, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: .7rem;
        padding-inline: 20%;

        color: #000000;
        text-decoration: none;

    }

    /* Target the .highlight class within the h1 element */
    .highlight1 {

        background-image: linear-gradient(0deg, #000000, #000000);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-weight: 300;

    }

    .highlight2 {
        color: #000000;
        font-weight: 100;

    }



}